

/* generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}




/* content */

/* HEADER */

header{
    height: 5vh;
    background-color: black;
}

.icons-header{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

header button{
    padding: 3px 3px;
    border-radius: 5px;
    background-color: #666;
    color: white;
    margin-left: 0.3rem;
    font-size: 15px;
    margin-top: 10px;
}

header button span{
    margin-left: 0.3rem;
}




/* MAIN */

main{
    background-color: black;
    height: 85vh;
    width: 100%;
    padding-top: 70px;  
}

img{
    height: 100px;
    width: 200px;
    margin-bottom:10px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
}

.card{
    position: relative;
    width: calc(100% / 7);
    
}

.user{
    position: absolute;
    background-color: #666;
    color: white;
    width: 85px;
    height: 20px;
    text-align: center;
    bottom: 14px;
    padding-top: 3px;
    font-size: 0.7rem;
}

#icon-user{
    font-size: 13px;
}




/* FOOTER */

footer{
    height: 10vh;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.icons-footer-left{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.icons-footer-centre{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 20px;
    color: white;
    text-align: center;
    
}

#icon-microphone{
    margin-right: 10px;
}

#stop-video{
    margin-right: 10px;
}
i{
    font-size: 20px;

}

#icons-more{
    transform: rotate(90deg );
    margin-right: 10px;
}

#invite{
    margin-left: 10px;
}

#manage-partecipants{
    margin-right: 27px;
}


#polling{
    margin-right: 20px;
}

#icons-centre{
    margin-right: 10px;
}

#square{
    color: green;
    margin-right: 15px;
}

p{
    font-size: 0.8rem;
    padding-right: 15px;
}


#end{
    color: red;
    border: 0;
    background-color: #4a4a4a;
    padding: 0px 10px;
}