

/* generics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}




/* content */

header{
    height: 5vh;
    background-color: grey;
    flex-shrink: 0;
}

.icons-header{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    

}

/* MAIN */

main{
    background-color: black;
    height: 85vh;
    width: 100%;
    padding-top: 70px;  
}

img{
    height: 100px;
    width: 200px;
    margin-bottom:10px;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
}

.card{
    position: relative;
    width: calc(100% / 7);
    
}

.user{
    position: absolute;
    background-color: transparent;
    color: white;
    width: 105px;
    height: 25px;
    text-align: center;
    bottom: 14px;
    padding-top: 3px;
    font-size: 0.9rem;
}

#icon-user{
    font-size: 15px;
}




/* FOOTER */

footer{
    height: 10vh;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.icons-footer-left{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    border: 10px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.icons-footer-centre{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 20px;
    color: white;
}
i{
    font-size: 30px;

}

#icons-more{
    transform: rotate(90deg );
}

#invite{
    margin-left: 30px;
}
p{
    font-size: 0.8rem;
    text-align: center;
    margin-right: 50px;
    margin-top: 10px;
}


#end{
    color: red;
    border-radius: 20px;
    height: 30px;
    margin-top: 20px;
    background-color: #4a4a4a;
    margin

    
}